# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Node/Frontend
node_modules/
dist/
build/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Data & Indexes
data/faiss_index/
*.db
*.sqlite3
